/** lobal styles **/
html,
body {
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 700px;
  width: 80%;
  margin: 0 auto;
}

.marker-cluster-small,
.marker-cluster-small div {
  background-color: rgba(72, 61, 139, 0.6);
  color: #ffffff;
}
